@import url('https://fonts.googleapis.com/css2?family=Signika');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

body{
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr repeat(3,1.4fr);
    font-family: Signika, Roboto, sans-serif;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: #fb923c;
    color: #f8fafc;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

li{
    margin: 4px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

li:hover{
    background-color: #f8fafc;
    color: #fb923c;
    border-radius: 8px;
}

li:hover .icon{
    filter: invert(68%) sepia(88%) saturate(1640%) hue-rotate(331deg) brightness(100%) contrast(98%);
}

.dashboard{
    display: flex;
    align-items: center;
    margin: 16px;
    font-size: 24px;
}

.dashboard:hover{
    transform: scale(1.1);
}

#dash-logo{
    transform: scale(2);
    margin: 20px;
    padding: 8px;
}

.icon{
    filter: invert(100%) sepia(0%) saturate(6388%) hue-rotate(132deg) brightness(96%) contrast(106%);
    transform: scale(1.2);
    margin: 10px;
    padding: 8px;
}

.actions{
    margin: 20px;
}

.services{
    margin: 20px;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #dfe1e2;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 80px 150px;
    padding-top: 20px;
    
}


.search{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 24px;
}

.mag{
    margin: 0px;
    filter: invert(23%) sepia(5%) saturate(806%) hue-rotate(201deg) brightness(95%) contrast(91%);
}


.search-bar{
    width: 80%;
    height: 20px;
    background-color: #f8fafc;
    border-radius: 16px;
    border: 1px solid #3f3f46;
}



.top-r-corner{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 24px;
}

.bell{
    filter: invert(23%) sepia(5%) saturate(806%) hue-rotate(201deg) brightness(95%) contrast(91%);
}


.small-acc-name{
    width: 60%;
    font-size: 24px;
    font-weight: 550;
    text-align: center;
}

.avatar-small{
    width: 20%;
    transform: scale(0.8);
    margin-right: 16px;
    border: 3px solid #fb923c;
    border-radius: 64px;

}

.greetings{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    margin: 24px;
    margin-left: 30px;
}
.avatar-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
    transform: scale(1.4);
    border: 3px solid #fb923c;
    border-radius: 64px;
    
}

.hello{
    align-self:flex-end;
    justify-self: start;
    font-size: 24px;
    font-weight: 400;
    margin-left: 16px;
}

.acc-name{
    align-self: flex-start;
    justify-self: start;
    font-size: 32px;
    font-weight: 500;
    margin-left: 16px;
}

.bot-r-corner{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

button{
    background-color: #fb923c;
    color: #f8fafc;
    font-size: 24px;
    font-weight: 500;
    width: 30%;
    height: 30%;
    border-radius: 32px;
    border: none;
}

button:hover{
    color: #fb923c;
    background-color: #f8fafc;
    border: 4px solid #fb923c;
    transform: scale(1.05);
}

button:active{
    transform: scale(0.95);
}



.central-cont{
    grid-row: 2 / 5;
    grid-column: 2 / 3;
    background-color: #fed7aa;
    box-shadow: 12px 12px 12px 12px rgba(88, 88, 88, 0.74);
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr repeat(3,3fr);
}